body{
     margin: 0 auto;
     text-align: center;
}

h1 {
    color: pink;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(chicken-vid.jpg) no-repeat;
    background-size: cover; 
}

video#bgvid {
    transition: 1s opacity;
}

.stopfade { opacity: .5; }