html { 
  background: url(images/background-placeholder.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	margin:0 auto;
}

@font-face {
	font-family: pixel_font;
	src: url('pixel-font.ttf');
}

.wrapper{
	height:87vh;
	width:100%;
	position:relative;
}

.bottom{
	position:absolute;
	bottom:0;
	height:70%;
	width: 90%;
	margin: 0 5% 0 5%;
}

.boundaries{
	width:60%;
	height:100%;
	float:left;
}

.taliaStanding{
	height:50%;
	width:20%;
	background-image:url(images/talia-standing-placeholder-3.png);
	background-size:contain;
	background-repeat: no-repeat;
    background-position: center bottom;
    bottom:0;
    position:absolute;
}

.taliaStandingHighlight{
	width: 30%;
	height:100%;
	background-image:url(images/talia-standing-placeholder-3-yellow.png);
	background-size:contain;
	background-repeat: no-repeat;
    background-position: center bottom;
}

.taco{
	width: 10%;
	height:100%;
	float:right;
	background-image:url(images/taco.png);
	background-size:contain;
	background-repeat: no-repeat;
    background-position: center bottom;
    margin-right:10%;
    
}

.clear{
	clear:both;
}


.toolbar{
	height: 70vh;
	margin-top: 5vh;
	margin-bottom: 25vh;
	margin-left: 5vh;
	width: 25vh;
}

.modalContainer{
	height:100vh;
	width:100%;
	position:fixed;
	top:0;
	bottom:0;
	
	-moz-animation-name: slideIn;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-duration: 2s;

    -webkit-animation-name: slideIn;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 2s;

    animation-name: slideIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}


@-moz-keyframes slideIn {
    0% {
        -moz-transform: translateY(-100%);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}



.dialog{
	background-image: url('images/dialog-talk-o.png');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	position:fixed;
	width: 60.33vh;
	height:40vh;
	margin-left: 30%;
	padding:2%;
	padding-top:25vh;
	font-family:pixel_font, 'Verdana', sans-serif;
	font-size: 2.0vh;	
}

.button{
	width:20vh;
	background-image: url('images/button-ok2.png');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	/* position:fixed; */
	height:200px;
	/* 
margin-left: 54vw;
	margin-top:35vh;
	position:relative;
 */
}

.button:hover{
	background-image: url('images/button-ok-rainbow.png');
}

.tacoCount img{
	width: 100%;
	height:auto;
}

.resources img{
	width: 100%;
	height:auto;
}

.resourcesImgs img{
	width: 100%;
	height:auto;
}