html { 
  background: url(images/background-placeholder.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	margin:0 auto;
}

@font-face {
	font-family: pixel_font;
	src: url('pixel-font.ttf');
}

.wrapper{
	height:87vh;
	width:100%;
	position:relative;
}

.bottom{
	position:absolute;
	bottom:0;
	height:70%;
	width: 90%;
	margin: 0 5% 0 5%;
}

.boundaries{
	width:60%;
	height:100%;
	float:left;
}



.taco{
	width: 10%;
	height:100%;
	float:right;
	background-image:url(images/taco.png);
	background-size:contain;
	background-repeat: no-repeat;
    background-position: center bottom;
    margin-right:10%;
    
}

.clear{
	clear:both;
}


.toolbar{
	height: 70vh;
	margin-top: 5vh;
	margin-bottom: 25vh;
	margin-left: 5vh;
	width: 25vh;
}



.largeDialog{
	position:fixed;
	width: 90vw;
	height:90vh;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	/* margin-top:5vh; */
	font-size: 2.0vh;	
	bottom:0;
	top: 80vh;
}

.largeDialog img{
	width:100%;
}

.dialogText{
	width: 80vw;
	height: 80vh;
	margin-left: 5vw;
	margin-right: 5vw;
	/* margin-top:15vh; */
	position:fixed;
	max-width: 3000px;
	font-family:pixel_font, 'Verdana', sans-serif;
	bottom:0;
	top: 88vh;
	
}

/* 
.mysteryBox{
	width: 30vw;
	height: 30vh;
	max-width: 2000px;
	margin-top: 40vh;
	margin-left: 40vh;
	position: absolute;
}
 */


.mysteryBox{
	width:30vh;
	background-image: url('images/mystery-box.png');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center center;
	/* position:fixed; */
	height: 30vh;
	margin-top:30vh;
	margin-left:50vh;
	
}

.mysteryBox:hover{
	background-image: url('images/mystery-box-rainbow.png');
}

.tacoCount img{
	width: 100%;
	height:auto;
}

.resources img{
	width: 100%;
	height:auto;
}

.resourcesImgs img{
	width: 100%;
	height:auto;
}